<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <script
      src="https://kit.fontawesome.com/3f21023fe6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="home">
    <header>
      <div class="box__superior">
        <div class="superior">
          <div class="box__logo">
            <a href="/"><img
                class="header__logo"
                src="/images/logo-mercado-liebre.svg"
                alt="Logo ML"
              /></a>
          </div>
          <div class="busqueda">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="box__payment">
          <p>
            <i class="fas fa-hand-holding-usd"></i>Compra en coutas y sin
            tarjeta de crédito
          </p>
        </div>
      </div>
      <nav class="header__menu">
        <ul class="ul_options">
          <li type="disc"><a href="">Ofertas</a></li>
          <li type="disc"><a href="">Tiendas Oficiales</a></li>
          <li type="disc"><a href="">Vender</a></li>
          <li type="disc"><a href="">Ayudar</a></li>
        </ul>
        <ul class="ul_user">
          <li>
            <a href="register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="header__burger">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner" width="100%" />
      </div>
      <h2>Basado en tu última visita</h2>
      <section>
        <article class="product_card">
          <div>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              width="100%"
            />
          </div>
          <div class="detalle">
            <div class="camion">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product_detail">
                <p>$6.770</p>
                <span>40% OFF</span>
            </div>
            <h4 class="product_title">Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="product_card">
            <div>
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="Mc Book"
                width="100%"
              />
            </div>
            <div class="detalle">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <div class="product_detail">
                <p>$230.000</p>
                <span>20% off</span>
              </div>
              <h4 class="product_title">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="product_card">
            <div>
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy"
                width="100%"
              />
            </div>
            <div class="detalle">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <div class="product_detail">
                <p>$70.500</p>
                <span>10% off</span>
              </div>
              <h4 class="product_title">Samsung Galaxy S10</h4>
            </div>
          </article>
          <article class="product_card">
            <div>
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="Tv samsung"
                width="100%"
              />
            </div>
            <div class="detalle">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <div class="product_detail">
                <p>$23.200</p>
                <span>5% off</span>
              </div>
              <h4 class="product_title">SmartTv Samsung 43"</h4>
            </div>
          </article>
      </section>
      <h2>Basado en tu última visita</h2>
      <section>
        <article class="product_card">
          <div>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              width="100%"
            />
          </div>
          <div class="detalle">
            <div class="camion">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product_detail">
                <p>$6.770</p>
                <span>40% OFF</span>
            </div>
            <h4 class="product_title">Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="product_card">
          <div>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="Mc Book"
              width="100%"
            />
          </div>
          <div class="detalle">
            <div class="camion">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product_detail">
                <p>$230.000</p>
                <span>20% off</span>
            </div>
            <h4 class="product_title">MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="product_card">
          <div>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy"
              width="100%"
            />
          </div>
          <div class="detalle">
            <div class="camion">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product_detail">
                <p>$70.500</p>
                <span>10% off</span>
            </div>
            <h4 class="product_title">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="product_card">
          <div>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="Tv samsung"
              width="100%"
            />
          </div>
          <div class="detalle">
            <div class="camion">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product_detail">
                <p>$23.200</p>
                <span>5% off</span>
            </div>
            <h4 class="product_title">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="box__footer__info">
        <section>
          <div>
            <i class="fas fa-credit-card"></i>
          </div>
          <h3>Pagá con tarjetas o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <div>
            <i class="fas fa-gift"></i>
          </div>
          <h3>Envio gratis desde $2500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <div>
            <i class="fas fa-user-shield"></i>
          </div>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section class="copyr">
        <span>&copy;Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
      </section>
    </footer>
  </body>
</html>
