header {
  background-color: var(--colorAmarillo);
  padding: 20px 0;
}

header .superior{
  padding: 0 20px;
}

.header__logo{
  width: 50%; 
 }
header p{
    text-align: center;
}

header .header__burger{
  display: block;
  color: white;
  background-color: var(--colorCeleste);
  font-size: 1.5rem;
  padding: 8px;
  margin: 0 auto;
  width: 25px;
  border-radius: 8px;
  text-align: center;
}

header .header__menu{
  display: none;
}
